<section id="banner">
	<div class="content">
		<header>
			<h1>{{ with .Params.headline }}{{ . | markdownify }}{{ end }}{{ .Title | markdownify }}</h1>
			{{ with .Params.subhead }}<p>{{ . | markdownify }}</p>{{ end }}
		</header>
		{{ $desc := .Description | default .Summary }}
		{{ with $desc }}
		<p>{{ . }}</p>
		{{ end }}
		<ul class="actions">
			<li><a href="{{ .RelPermalink }}" class="button big">Learn More</a></li>
		</ul>
	</div>
	<span class="image object">
		{{ partial "featured-image-srcset" (dict "page" .) }}
	</span>
</section>