<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ .Title | default .Site.Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relURL }}"></script><![endif]-->
		<link rel="stylesheet" href="{{ "assets/css/main.css" | relURL }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relURL }}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css"  | relURL }}" /><![endif]-->
	</head>
	<body>
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					{{ block "header" . }}{{ partial "section/header" . }}{{ end  }}
					{{ block "banner" . }}{{ partial "section/banner" . }}{{ end  }}
					{{ block "featured-posts" . }}{{ partial "section/featured-posts" . }}{{ end  }}
					{{ block "features" . }}{{ partial "section/features" . }}{{ end  }}
					{{ block "latest-posts-more" . }}{{ partial "section/latest-posts-more" . }}{{ end  }}
					{{ block "footer" . }}{{ partial "section/footer" . }}{{ end  }}
					{{ block "site-title" . }}{{ partial "section/site-title" . }}{{ end  }}
					{{ block "menu" . }}{{ partial "section/menu" . }}{{ end  }}
					{{ block "social-bar" . }}{{ partial "section/social-bar" . }}{{ end  }}
					{{ block "contact" . }}{{ partial "section/contact" . }}{{ end  }}
					{{ block "search" . }}{{ partial "section/search" . }}{{ end  }}
			
				</div>
			</div>
		</div>
		<script src="{{ "assets/js/jquery.min.js" | relURL }}"></script>
		<script src="{{ "assets/js/skel.min.js" | relURL }}"></script>
		<script src="{{ "assets/js/util.js" | relURL }}"></script>
		<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | relURL }}"></script><![endif]-->
		<script src="{{ "assets/js/main.js" | relURL }}"></script>
	</body>
</html>